extends ./layout
block append head
  link(rel='stylesheet', type='text/css', href='stylesheets/landing.css')

block content
  h1 twitter battle
  p Compare how two search terms compete against each other in real-time.
  form.search-form(action="/", method="POST")
    .form-control
      span.form-error.one
      span.form-label.one happy
      input.search-one-input(type='text', autocomplete="off", name='searchOne')
    span.versus VS
    .form-control
      span.form-error.two
      span.form-label.two sad
      input.search-two-input(type='text', autocomplete="off", name='searchTwo')
    button.btn.btn-primary(type='submit', value='Submit') Battle

block append foot
  script(src='javascripts/landing.js')
